{%extends 'nav_topic.html'%}
{% load i18n static %}
{%block staticcontent%}
<h3>实验室成员名单</h3>
<div class="row">
    {%for being in beinglist%}
    {%if forloop.counter0|divisibleby:4%}
</div>
<div class="row">
    {%endif%}
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="/being/user_detail/{{being.user.id}}">
                <div style="border:solid rgb(147,198,260) 10px;border-bottom:0;height:230px;background-size:cover;background-image:url('{%if being.face%}{{being.face.url}}{%else%}/static/img/avatar/{{being.gender}}.png{%endif%}');"></div>
            </a>
        <div class="caption bg-lighter">
            <h3>{{being.nickname}}</h3>
            <p class="help-block">职称:{%if professorgroup in being.user.groups.all%}教授{%else%}学生{%endif%}</p>
            <p>{{being.description}}</p>
        </div>
        </div>
    </div>
    {%endfor%}
</div>


<h3>了解更多</h3>

<div class="row">
    <div class="col-md-12">
        <div class="staticbanner"></div>
    </div>
</div>
{%endblock%}
