{%extends 'base.html'%}
{% load i18n static %}

{%block title%}About LegBuider{%endblock%}
{%block class-nav-about%}active{%endblock%}"
{%block script%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/csshake.min.css'%}">
{%endblock%}
{%block content%}
    <div class="container" style="min-height:500px;">
        <h1 class="page-title shake">LegBuilder Society</h1>
        <div class="row" style="margin-top:0px;">
            <div class="col-md-8 col-xs-12">
                <h4>LegBuider is a ideology for physicists which is originated from NanJing University, China.</h4>
                <ol>
                    <li> We are social animals.</li>
                    <li> DRY(don't repeat yourself) is the key code for cooperation, which reminds the physicists that "Don't reinvent wheels, help to improve the human knowledge."</li>
                    <li> We are also aimed at building up a bridge between "High Tech" and "Common Knowledge", attract investments/donation for physicist.</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{%endblock%}
